<li class="event-card">
  
  <div class="event-card-info">
    <h3 class="event-card-title">
      <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    </h3>
    {{ with .Page.Params.summary }}
      <p class="event-card-summary">{{ . }}</p>
    {{ end }}
  </div>

  <div class="event-card-details">
    <p>
      <strong>{{ T "when" }}:</strong> 
      
      {{ $dateHuman := time.Format ":date_long" .SortDate }}
      {{ $timeStr := .Time }}
      {{ $tz := .SortDate.Format "MST" }}

      {{ printf "%s %s %s (%s)" $dateHuman (T "at") $timeStr $tz }}
      
      {{ with .Page.Params.recurrence }}
        <span class="event-type">({{ .type }})</span>
      {{ end }}
    </p>
    {{ with .Page.Params.location }}
      <p><strong>{{ T "where" }}:</strong> {{ . }}</p>
    {{ end }}
  </div>
</li>
